body {
  font-family: 'Arial', sans-serif;
  background: #121212;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}

select, textarea, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}
